
.box-top{
    width : 50vm;
    height: 33vm;
}
.box-middle{
    width : 50vm;
    height: 33vm; 
}
.box-bottom{
    width : 50vm;
    height: 33vm;
}

.white{
    background-color: white;
   
}
.blue{
    background-color: blue;
    
}
.black{
    background-color: black;
}