.white{
    background-color: white;
    width : 50vm;
    height: 33vm;
}
.blue{
    background-color: blue;
    width: 50vm;
    height: 33vm;
}
.black{
    background-color: black;
    width: 50vm;
    height: 33vm;
}