body{
    background-color: rgb(145, 145, 145);
}
.main{
    display: flex;
    flex-direction: column;
}
.box-top{
    width : 50vw;
    height: 33vh;
}
.box-middle{
    width : 50vw;
    height: 33vh; 
}
.box-bottom{
    width : 50vw;
    height: 33vh;
}

.white{
    background-color: white;
   
}
.blue{
    background-color: blue;
    
}
.black{
    background-color: black;
}